body{
    background-color:blue ;
    
}
#A{
    margin-left: 35%;
    margin-top: 15%;;
  background-color:aliceblue;
    width: 30%;
   
}

#L{
  
  color: rgb(255, 123, 0);
  margin-left: 120px;
}
#B{
  margin-left: 25%;
  }
  
  #D{
    margin-left: 20%;
   
   
}
